/*----------------------Estilos base----------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #3b4550;
  --primary-dark: #0a3d66;
  --primary-hover: #0d5ba8;
  --primary-light: #09f;
  --background: #06182a;
  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
  /*Se utiliza rgba para añadirle una opacidad a los colores*/
  --border: rgba(255, 255, 255, 0.1);
  --card-bg: #1e293b;
  --shadow: rgba(0, 0, 0, 0.3);
  --input-bg: #1e293b;
  --hsla-example: hsla(210, 100%, 56%, 1);
}

@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

body {
    font-family: system-ui;

    background-color: var(--background);
    color: var(--text-primary);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

main{
    padding: 3rem 5rem;
   
}




/*----------------------Cabecera de la página----------------------*/
body > header {
  border-bottom: 1px solid var(--border);
  background: var(--background);
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  

  nav {
    align-items:flex-start;
    gap: 1rem;
    display: flex;

    a {
        text-decoration: none;
        color: var(--text---);
        transition: color 0.2s;
        font-weight: 500;

        &:hover, &:focus {
        color: var(--primary);
        outline: none;
        }
    }
  } 

  div {
    display: flex;
    gap: 1rem;
  }
}

body > header button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
}


img {
    object-fit: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;

}

/*----------------------Titulo y subtítulo----------------------*/
h1{
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 1rem;
    line-height: 1.2;
    text-wrap: balance;
}

h1 + p {
  text-wrap: balance;
  margin-bottom: 1rem;
  display:flex;
  align-items: center;
}

main section:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

form {
    width: 100%;
    background-color: var(--input-bg);
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    display: flex;

    padding: 0.5rem;
    color: var(--text-muted);
}

form input[type="text"] {
    flex: 1;
    background-color: transparent;
    color: var(--text-muted);
    border: 0;
    margin-left: 1rem;
    object-fit: cover;
    font-family: inherit;
    
}

input::placeholder {
    color: var(--text-muted);
}

input:focus{
    outline: none;
}

/*----------------------Filtro de búsqueda----------------------*/

.filtros {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px,1fr));
    align-self: self-start;
    gap: 1rem;
    cursor: pointer;
    max-width: 100%;
}

.filter {
    padding: 0.25rem 1rem;
    background-color:  var(--input-bg);
    border-radius: 0.35rem;
    font-size: small;
    position: relative;
    display: inline-block;
    max-width: 12rem;
}

.filter summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter:hover,
.filter[open] {
    background-color: var(--primary-dark);
}

.filter[open] .icon{
    transform: rotate(-180deg);
}

.icon {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
    width: 0.8rem;
    height: 0.8rem;    
}

.filter-options{
    border-radius: 0.25rem;
    top:100%;
    position: absolute;
    padding: 0.5rem 0.75rem;
    gap: 2rem;
    background-color: var(--input-bg);
}

.filter-options div {
  display: block; 
  width: 100%; 
  padding: 0rem 1rem;     
  border-radius: 0.25rem; 
}


.filter-options div:hover {
    background-color: var(--primary-dark);
    transform: scale(1.10);
    cursor: pointer; 
}








/*----------------------Resultados de la búsqueda----------------------*/
main > section:nth-child(3){
    border: 1px solid var(--border);
    border-radius: 0.5rem;
}

article {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

article + article {
    border-top: 1px solid var(--border);
}


article > header{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

article > header small {
    color: var(--text-muted);
}

article > p {
    color: var(--text-secondary);
    padding-right: 7rem;
}

article button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--primary-light);
    color: var(--text-primary);
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
    
}


/*----------------------Selección de página----------------------*/
.pagination {
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.pagination a {
    color: var(--text-primary);
    text-decoration: none;
    padding: 0.35rem 0.70rem;
    border-radius: 0.25rem;
}


.pagination a:hover {
    background-color: var(--primary-dark);
}

.active {
    padding: 0.35rem 0.70rem;
    border-radius: 0.5rem;
    background-color: #1172d4;
    color: var(--text-primary);
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
}

footer{
    margin-bottom: 2rem;
}